<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.enriquegh.marshealth">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.example.enriquegh.marshealth.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/MyMaterialTheme">
        </activity>

        <activity
            android:name="com.example.enriquegh.marshealth.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/MyMaterialTheme">
            <!--
                This intent filter is to make this particular activity the main one and the one
                that will be called when app is launched.
            -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
            ATTENTION: This was auto-generated to add Google Play services to your project for
            App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <service android:name="com.example.enriquegh.marshealth.MessageService" />
    </application>

</manifest>
